@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Kirill Antipov<br />
    <abbr>Phone:</abbr>
    <strong>89202284138</strong> 
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:kirill.011@mail.ru">kirill.011@mail.ru</a><br />
</address>